.bannerBgImage{
    height: 100vh;
    background: url("/images/banneImage.jpg");
    background-size: cover;
    position: relative;

}

.bannerText{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannertitle{
    font-size: 4rem;
}
.bannerdesc{
    font-size: 3rem;
}

.card-img-top{
    height: 50vh;
    
}
.port:hover {
    display: block;
    transform: scale(1.3);
    filter: grayscale(100%);
}
.button:hover {
    background-color: blue;
}